* {

}

body {
    border: 1px;
    font-family: Arial, sans-serif;
    margin: 0 5vw;
    padding: 20px;
    background-color:rgb(230, 190, 143);
    background-size: cover;
    background-position: center;
}

/* Header */
header {
    display:flex;
    flex-direction: column;
    background-color:rgb(236, 236, 214);
    background-image: url("drawing.png");
    background-size:30vw;
    background-position:right;
    background-repeat: no-repeat;
    padding: 5vw;
    justify-content: center;
}

header h1 {
    font-size:2vw;
    color: rgb(192, 48, 192);
}

#name {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #413d09; 
}

/*main*/
 
main {
    padding: 5vw;
}
.master-oogway {
    padding: 4vw 5vw;
    background-color: rgb(44, 27, 27);
    background-image: url("masteroogway.png");
    background-size:contain;
    background-position:right;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.master-oogway div{
    padding: 0 5vw;
    color: white;
}

.film-gallery{
    padding: 1vw 5vw;
    background-color: white;
}

.gallery-container{
    

}
