* {
    margin: 10px;
}

body {
    border: 1px;
    font-family: Arial, sans-serif;
    margin: 0 5vw;
    padding: 20px;
    background-color:rgb(230, 190, 143);
    background-size: cover;
    background-position: center;
}

/* Header */
header {
    display:flex;
    flex-direction: column;
    background-color:rgb(236, 236, 214);
    background-image: url("drawing.png");
    background-size:30vw;
    background-position:right;
    background-repeat: no-repeat;
    padding: 5vw;
    justify-content: center;
}

header h1 {
    font-size:2.5vw;
    color: rgb(192, 48, 192);
}

#name {
    font-size: 3.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #413d09; 
}

/*Main*/
 
main {
    padding: 2vw;
}
.master-oogway {
    padding: 3vw 4vw;
    background-color: rgb(44, 27, 27);
    background-image: url("masteroogway.png");
    background-size:contain;
    background-position:right;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.master-oogway div{
    padding: 0 2vw;
    color: white;
}

.film-gallery{
    display:flex;
    flex-wrap: wrap;
    padding: 1vw 2vw;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content:center;
    text-align: left;
}

.gallery-container {
    display: flex;
    flex-direction:column;
    width: 25vw;
    height: auto;
    padding: 1vw;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.gallery-container h3 {
    font-size: 110%;
}

.gallery-container img{
    width: 25vw;
    height: 30vw;
    object-fit: cover;
}


@media screen and (max-width: 767px){
    body {
        margin: 0;
    }


    header h1 {
        font-size: 4vw;
    }

    #name {
        font-size: 6vw;
        -webkit-text-stroke-width: 1px;
    }

    .master-oogway div{
        padding: 0 1vw;
        font-size: 2.5vw;
    }

    .gallery-container{
        width: 80%;
    }

    .gallery-container img{
        width: 100%;
        height: auto;
    }

}